<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>563135568334-r2eq4d7rrp5jallubsi2hno5tohhlesc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.563135568334-r2eq4d7rrp5jallubsi2hno5tohhlesc</string>
	<key>API_KEY</key>
	<string>AIzaSyBKw0xuhkOkbmwTEy5QyRO6YePmV5PZkbA</string>
	<key>GCM_SENDER_ID</key>
	<string>563135568334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authentest128</string>
	<key>PROJECT_ID</key>
	<string>fir-test-128</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test-128.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:563135568334:ios:dcff4bf1e660665321b39f</string>
</dict>
</plist>